.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.card-logo {
    height: 5rem;
}
